{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<script src="{% static 'main.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script> 
<div class="d-grid gap-3 col-md-4 mx-auto">

<h1 class="text-white">PLEASE ENTER YOUR INFORMATION</h1>
<form method="POST" class="text-white">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="GO TO PAY">
</form>
<div class="container">
    <button class="button is-primary" id="submitBtn">Purchase!</button>
  </div>
</div>
{% endblock %}